.very-near__nft-container {
  display: flex;
  flex-direction: column;    
}

.very-near__nft-container-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 3rem;
}

.very-near__nft-container-heading h1 {
  font-size: 62px;
  line-height: 75px;
  font-family: var(--font-family);
  font-weight: 800;
}

.very-near__nft-container-container {
  display: flex;
  flex-direction: row;
}

.very-near__nft-container-container_groupB {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

@media screen and (max-width: 990px) {
  .very-near__nft-container-container {
      flex-direction: column-reverse;
  }

  .very-near__nft  {
     width: 100%;
  }

  .very-near__about-us-person {
    width: 100%;
  }

 .very-near__nft-image {
      height: 350px;
  }

  .very-near__about-us-person-image {
    height: 350px;
  }

  .very-near__about-us-person-label {
    font-size: 34px;
    line-height: 65px;
  }

  .very-near__nft-container-heading h1 {
    font-size: 52px;
    line-height: 62px;
}
}

@media screen and (max-width: 800px) {
  .very-near__nft-container-container_groupB {
      grid-template-columns: repeat(1, 1fr);
  }

  .very-near__nft-container-heading h1 {
      font-size: 46px;
      line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .very-near__nft-container-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

}