.verynear__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.verynear__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.verynear__navbar-links_logo {
  margin-right: 2rem;
}

.verynear__navbar-links_logo img {
  width: 62.56px;
  height: 16.02px;
}

.verynear__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.verynear__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.verynear__navbar-links_container p,
.verynear__navbar-sign p,
.verynear__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.verynear__navbar-sign button,
.verynear__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.verynear__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.verynear__navbar-menu svg {
  cursor: pointer;
}

.verynear__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.verynear__navbar-menu_container p {
  margin: 1rem 0;
}

.verynear__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .verynear__navbar-links_container {
    display: none;
  }

  .verynear__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .verynear__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .verynear__navbar {
    padding: 2rem;
  }

  .verynear__navbar-sign {
    display: none
  }

  .verynear__navbar-menu_container {
    top: 20px;
  }

  .verynear__navbar-menu_container-links-sign {
    display: block;
  }
}