.very-near__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 6rem;
}

.very-near__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.very-near__navbar-links_logo {
  margin-right: 1rem;
}

.very-near__navbar-links_logo img {
  width: 150.56px;
  height: 36.02px;
}

.very-near__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.very-near__navbar-sign {
  column-gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.very-near__navbar-links_container p,
.very-near__navbar-sign p,
.very-near__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.very-near__navbar-sign button,
.very-near__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #FF4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.very-near__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.very-near__navbar-menu svg {
  cursor: pointer;
}

.very-near__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.very-near__navbar-menu_container p {
  margin: 1rem 0;
}

.very-near__navbar-menu_container-links-sign {
  display: none;
}

.active{
  color: rgb(46, 251, 108);
  /* color: black; */
}

@media screen and (max-width: 1050px) {
  .very-near__navbar-links_container {
    display: none;
  }

  .very-near__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .very-near__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .very-near__navbar {
    padding: 2rem;
  }

  .very-near__navbar-sign {
    display: none
  }

  .very-near__navbar-menu_container {
    top: 20px;
  }

  .very-near__navbar-menu_container-links-sign {
    /* height: 100px; */
    /* background: #fff; */
    row-gap: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}